<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- ROS parameter files -->
  <arg name="ros_param_file"             default="$(find zmq_network)/config/server.yaml"/>

  <!-- Load parameters -->
  <rosparam command="load" ns="zmq_network_server" file="$(arg ros_param_file)"/>

  <!-- Start Scale Truck Control -->
  <node pkg="zmq_network" type="zmq_network" name="zmq_network_server" output="screen" />

</launch>
